appdirs==1.4.3
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
BTrees==4.5.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cheroot==6.5.5
CherryPy==18.1.1
cryptography==2.7
idna==2.8
jaraco.functools==2.0
more-itertools==7.0.0
perfmetrics==2.0
persistent==4.5.0
portend==2.4
pycparser==2.19
PyMySQL==0.9.3
pytz==2019.1
-e git+https://git.davepedu.com/dave/relstorage.git@5ae138b71a0eeb740208e61cfd1662c49738ee45#egg=RelStorage
requests==2.22.0
six==1.12.0
tempora==1.14.1
transaction==2.4.0
urllib3==1.25.3
zc.lockfile==1.4
ZConfig==3.4.0
zdaemon==4.3
ZEO==5.2.1
ZODB==5.5.1
zodbpickle==1.0.3
zope.interface==4.6.0
